<div style="font: 14px/22px Arial,Helvetica,sans-serif;width: 100%;">
	<h1>LintinZone</h1>
	<h2>Best shipping solution</h2>
	<p>
		Xin chào {receiver},
	</p>
	<p>
		<span title="LintinZone - Best shipping solution" style="color: #A1AE1A;font-weight: bold;">LintinZone</span> cảm ơn bạn đã đăng ký làm người dùng thử. Bạn sẽ là một trong những người đầu tiên được trải nghiệm bản beta thú vị của <span title="LintinZone - Best shipping solution" style="color: #A1AE1A;font-weight: bold;">LintinZone</span> cũng như có được những ưu đãi đặc biệt sau này. Xin vui lòng bấm vào liên kết dưới đây để xác nhận yêu cầu của bạn.
	</p>
	<p>
		{confirm_link}
	</p>
	<p>
		Mọi câu hỏi, góp ý, xin vui lòng liên hệ với chúng tôi: {support_link}.
	</p>
	<p>
		LintinZone trên facebook: http://www.facebook.com/LintinZone
		<br />
		LintinZone trên Twitter: http://twitter.com/@LintinZone
		<br />
		LintinZone Google+: https://plus.google.com/b/114591945709472470617/
	</p>
	<p>
		Cảm ơn đã đọc thư này,
		<br />LintinZone - {home_link}
	</p>
</div>
