<div style="font: 14px/22px Arial,Helvetica,sans-serif;width: 100%;">
	<h1>LintinZone</h1>
	<h2>Best shipping solution</h2>
	<p>
		Xin chào {receiver},
	</p>
	<p>
		Chúc mừng bạn đã trở thành một người dùng thử của <span title="LintinZone - Best shipping solution" style="color: #A1AE1A;font-weight: bold;">LintinZone</span>.
		Bạn sẽ nhận được những tin tức mới nhất từ các tính năng mới của LintinZone cũng như nhận được ưu tiên trải nghiệm bản beta của <span title="LintinZone - Best shipping solution" style="color: #A1AE1A;font-weight: bold;">LintinZone</span> vào tháng 6 tới đây.
	</p>
	<p>
		Mọi câu hỏi, góp ý, xin vui lòng liên hệ với chúng tôi: {support_link}.
	</p>
	<p>
		LintinZone trên facebook: http://www.facebook.com/LintinZone
		<br />		
		LintinZone trên Twitter: http://twitter.com/@LintinZone 
		<br />
		LintinZone Google+: https://plus.google.com/b/114591945709472470617/	
	</p>
	<p>
	Cảm ơn bạn đã đăng ký,
	LintinZone
	</p>
	<p style="font-size: 70%;">
		Để ngưng nhận tin tức từ LintinZone, bạn click vào đường dẫn này {unsubscribe_link}.
	</p>
</div>
