<div style="font: 14px/22px Arial,Helvetica,sans-serif;width: 100%;">
	<h1>LintinZone</h1>
	<h2>Best shipping solution</h2>
	<p>
		Xin chào {receiver},
	</p>
	<p>
		Bạn đã ngừng nhận tin tức từ <span title="LintinZone - Best shipping solution" style="color: #A1AE1A;font-weight: bold;">LintinZone</span>.
		Bất cứ khi nào bạn thay đổi ý kiến, <span title="LintinZone - Best shipping solution" style="color: #A1AE1A;font-weight: bold;">LintinZone</span> luôn chào mừng bạn trở lại.
	</p>
	<p>
		Mọi câu hỏi, góp ý, xin vui lòng liên hệ với chúng tôi {support_link}.
	</p>
	<p>
		Bạn vẫn có thể theo dõi tin tức từ <span title="LintinZone - Best shipping solution" style="color: #A1AE1A;font-weight: bold;">LintinZone</span> thông qua trang web http://lintinzone.com hay qua các kênh:
	</p>
	<p>
		LintinZone trên facebook: http://www.facebook.com/LintinZone
		<br />		
		LintinZone trên Twitter: http://twitter.com/@LintinZone 
		<br />
		LintinZone Google+: https://plus.google.com/b/114591945709472470617/	
	</p>
	<p>
		LintinZone - {home_link}
	</p>
</div>
